.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 30px;
  flex-shrink: 0;
}
.svg___6BNuj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__odyH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
