@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-D88H_kC5p: 100px;
  --plasmic-token-mobile-tags-stack-max-height: var(--token-D88H_kC5p);
  --token-bttfgwdxi: #eeffb6;
  --plasmic-token-bright: var(--token-bttfgwdxi);
  --token-bttfgwdxi: #eeffb6;
  --plasmic-token-bright: var(--token-bttfgwdxi);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-D88H_kC5p: 100px;
    --plasmic-token-mobile-tags-stack-max-height: var(--token-D88H_kC5p);
  }
}

.plasmic_default_styles {
  --mixin--Ly7JO5dSL3O_font-family: "Inter";
  --mixin--Ly7JO5dSL3O_font-size: 16px;
  --mixin--Ly7JO5dSL3O_font-weight: 400;
  --mixin--Ly7JO5dSL3O_font-style: normal;
  --mixin--Ly7JO5dSL3O_color: #535353;
  --mixin--Ly7JO5dSL3O_text-align: left;
  --mixin--Ly7JO5dSL3O_text-transform: none;
  --mixin--Ly7JO5dSL3O_line-height: 1.5;
  --mixin--Ly7JO5dSL3O_letter-spacing: normal;
  --mixin--Ly7JO5dSL3O_white-space: pre-wrap;
  --mixin--Ly7JO5dSL3O_user-select: text;
  --mixin--Ly7JO5dSL3O_text-decoration-line: none;
  --mixin--Ly7JO5dSL3O_text-overflow: clip;
  --mixin-F-nBZ1w0fawi_color: #000000;
  --mixin-F-nBZ1w0fawi_font-weight: 900;
  --mixin-F-nBZ1w0fawi_font-size: 72px;
  --mixin-F-nBZ1w0fawi_line-height: 1;
  --mixin-F-nBZ1w0fawi_letter-spacing: -4px;
  --mixin-u-aRaijosEHw_font-family: "Inter";
  --mixin-u-aRaijosEHw_color: #000000;
  --mixin-u-aRaijosEHw_font-size: 48px;
  --mixin-u-aRaijosEHw_font-weight: 700;
  --mixin-u-aRaijosEHw_letter-spacing: -1px;
  --mixin-u-aRaijosEHw_line-height: 1.1;
  --mixin-QtOvCEaKsNe-_color: #0070f3;
  --mixin-RNk70QP3LJm-_font-family: "Inter";
  --mixin-RNk70QP3LJm-_color: #000000;
  --mixin-RNk70QP3LJm-_font-size: 32px;
  --mixin-RNk70QP3LJm-_font-weight: 600;
  --mixin-RNk70QP3LJm-_letter-spacing: -0.8px;
  --mixin-RNk70QP3LJm-_line-height: 1.2;
  --mixin-MPX5m0t9Rdkd_font-family: "Inter";
  --mixin-MPX5m0t9Rdkd_color: #000000;
  --mixin-MPX5m0t9Rdkd_font-size: 24px;
  --mixin-MPX5m0t9Rdkd_font-weight: 600;
  --mixin-MPX5m0t9Rdkd_letter-spacing: -0.5px;
  --mixin-MPX5m0t9Rdkd_line-height: 1.3;
  --mixin-Dq7AaItJeayN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Dq7AaItJeayN_border-bottom-color: #dddddd;
  --mixin-Dq7AaItJeayN_border-bottom-style: solid;
  --mixin-Dq7AaItJeayN_border-bottom-width: 1px;
  --mixin-Dq7AaItJeayN_border-left-color: #dddddd;
  --mixin-Dq7AaItJeayN_border-left-style: solid;
  --mixin-Dq7AaItJeayN_border-left-width: 1px;
  --mixin-Dq7AaItJeayN_border-right-color: #dddddd;
  --mixin-Dq7AaItJeayN_border-right-style: solid;
  --mixin-Dq7AaItJeayN_border-right-width: 1px;
  --mixin-Dq7AaItJeayN_border-top-color: #dddddd;
  --mixin-Dq7AaItJeayN_border-top-style: solid;
  --mixin-Dq7AaItJeayN_border-top-width: 1px;
  --mixin-Dq7AaItJeayN_border-bottom-left-radius: 3px;
  --mixin-Dq7AaItJeayN_border-bottom-right-radius: 3px;
  --mixin-Dq7AaItJeayN_border-top-left-radius: 3px;
  --mixin-Dq7AaItJeayN_border-top-right-radius: 3px;
  --mixin-Dq7AaItJeayN_font-family: "Inconsolata";
  --mixin-Dq7AaItJeayN_padding-bottom: 1px;
  --mixin-Dq7AaItJeayN_padding-left: 4px;
  --mixin-Dq7AaItJeayN_padding-right: 4px;
  --mixin-Dq7AaItJeayN_padding-top: 1px;
  --mixin-5NiOKdOhyF-u_border-left-color: #dddddd;
  --mixin-5NiOKdOhyF-u_border-left-style: solid;
  --mixin-5NiOKdOhyF-u_border-left-width: 3px;
  --mixin-5NiOKdOhyF-u_color: #888888;
  --mixin-5NiOKdOhyF-u_padding-left: 10px;
  --mixin-wbNfU6Nui_VP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-wbNfU6Nui_VP_border-bottom-color: #dddddd;
  --mixin-wbNfU6Nui_VP_border-bottom-style: solid;
  --mixin-wbNfU6Nui_VP_border-bottom-width: 1px;
  --mixin-wbNfU6Nui_VP_border-left-color: #dddddd;
  --mixin-wbNfU6Nui_VP_border-left-style: solid;
  --mixin-wbNfU6Nui_VP_border-left-width: 1px;
  --mixin-wbNfU6Nui_VP_border-right-color: #dddddd;
  --mixin-wbNfU6Nui_VP_border-right-style: solid;
  --mixin-wbNfU6Nui_VP_border-right-width: 1px;
  --mixin-wbNfU6Nui_VP_border-top-color: #dddddd;
  --mixin-wbNfU6Nui_VP_border-top-style: solid;
  --mixin-wbNfU6Nui_VP_border-top-width: 1px;
  --mixin-wbNfU6Nui_VP_border-bottom-left-radius: 3px;
  --mixin-wbNfU6Nui_VP_border-bottom-right-radius: 3px;
  --mixin-wbNfU6Nui_VP_border-top-left-radius: 3px;
  --mixin-wbNfU6Nui_VP_border-top-right-radius: 3px;
  --mixin-wbNfU6Nui_VP_font-family: "Inconsolata";
  --mixin-wbNfU6Nui_VP_padding-bottom: 3px;
  --mixin-wbNfU6Nui_VP_padding-left: 6px;
  --mixin-wbNfU6Nui_VP_padding-right: 6px;
  --mixin-wbNfU6Nui_VP_padding-top: 3px;
  --mixin-XlkQRQz97MP5z_display: flex;
  --mixin-XlkQRQz97MP5z_flex-direction: column;
  --mixin-XlkQRQz97MP5z_align-items: stretch;
  --mixin-XlkQRQz97MP5z_justify-content: flex-start;
  --mixin-XlkQRQz97MP5z_list-style-position: outside;
  --mixin-XlkQRQz97MP5z_padding-left: 40px;
  --mixin-XlkQRQz97MP5z_position: relative;
  --mixin-XlkQRQz97MP5z_list-style-type: disc;
  --mixin-QLF_q82PlX6Ut_display: flex;
  --mixin-QLF_q82PlX6Ut_flex-direction: column;
  --mixin-QLF_q82PlX6Ut_align-items: stretch;
  --mixin-QLF_q82PlX6Ut_justify-content: flex-start;
  --mixin-QLF_q82PlX6Ut_list-style-position: outside;
  --mixin-QLF_q82PlX6Ut_padding-left: 40px;
  --mixin-QLF_q82PlX6Ut_position: relative;
  --mixin-QLF_q82PlX6Ut_list-style-type: decimal;
  --mixin-e5fJVEcjgIiLz_font-family: "Inter";
  --mixin-e5fJVEcjgIiLz_color: #000000;
  --mixin-e5fJVEcjgIiLz_font-size: 20px;
  --mixin-e5fJVEcjgIiLz_font-weight: 600;
  --mixin-e5fJVEcjgIiLz_letter-spacing: -0.3px;
  --mixin-e5fJVEcjgIiLz_line-height: 1.5;
  --mixin-JvJ0IXbkXxeOv_font-family: "Inter";
  --mixin-JvJ0IXbkXxeOv_color: #000000;
  --mixin-JvJ0IXbkXxeOv_font-size: 16px;
  --mixin-JvJ0IXbkXxeOv_font-weight: 600;
  --mixin-JvJ0IXbkXxeOv_line-height: 1.5;
  --mixin-erOnWOIEBoTAJ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin--Ly7JO5dSL3O_font-family);
  font-size: var(--mixin--Ly7JO5dSL3O_font-size);
  font-weight: var(--mixin--Ly7JO5dSL3O_font-weight);
  font-style: var(--mixin--Ly7JO5dSL3O_font-style);
  color: var(--mixin--Ly7JO5dSL3O_color);
  text-align: var(--mixin--Ly7JO5dSL3O_text-align);
  text-transform: var(--mixin--Ly7JO5dSL3O_text-transform);
  line-height: var(--mixin--Ly7JO5dSL3O_line-height);
  letter-spacing: var(--mixin--Ly7JO5dSL3O_letter-spacing);
  white-space: var(--mixin--Ly7JO5dSL3O_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-F-nBZ1w0fawi_color);
  font-weight: var(--mixin-F-nBZ1w0fawi_font-weight);
  font-size: var(--mixin-F-nBZ1w0fawi_font-size);
  line-height: var(--mixin-F-nBZ1w0fawi_line-height);
  letter-spacing: var(--mixin-F-nBZ1w0fawi_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-u-aRaijosEHw_font-family);
  color: var(--mixin-u-aRaijosEHw_color);
  font-size: var(--mixin-u-aRaijosEHw_font-size);
  font-weight: var(--mixin-u-aRaijosEHw_font-weight);
  letter-spacing: var(--mixin-u-aRaijosEHw_letter-spacing);
  line-height: var(--mixin-u-aRaijosEHw_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-QtOvCEaKsNe-_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-RNk70QP3LJm-_font-family);
  color: var(--mixin-RNk70QP3LJm-_color);
  font-size: var(--mixin-RNk70QP3LJm-_font-size);
  font-weight: var(--mixin-RNk70QP3LJm-_font-weight);
  letter-spacing: var(--mixin-RNk70QP3LJm-_letter-spacing);
  line-height: var(--mixin-RNk70QP3LJm-_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-MPX5m0t9Rdkd_font-family);
  color: var(--mixin-MPX5m0t9Rdkd_color);
  font-size: var(--mixin-MPX5m0t9Rdkd_font-size);
  font-weight: var(--mixin-MPX5m0t9Rdkd_font-weight);
  letter-spacing: var(--mixin-MPX5m0t9Rdkd_letter-spacing);
  line-height: var(--mixin-MPX5m0t9Rdkd_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Dq7AaItJeayN_background);
  font-family: var(--mixin-Dq7AaItJeayN_font-family);
  border-radius: var(--mixin-Dq7AaItJeayN_border-top-left-radius)
    var(--mixin-Dq7AaItJeayN_border-top-right-radius)
    var(--mixin-Dq7AaItJeayN_border-bottom-right-radius)
    var(--mixin-Dq7AaItJeayN_border-bottom-left-radius);
  padding: var(--mixin-Dq7AaItJeayN_padding-top)
    var(--mixin-Dq7AaItJeayN_padding-right)
    var(--mixin-Dq7AaItJeayN_padding-bottom)
    var(--mixin-Dq7AaItJeayN_padding-left);
  border-top: var(--mixin-Dq7AaItJeayN_border-top-width)
    var(--mixin-Dq7AaItJeayN_border-top-style)
    var(--mixin-Dq7AaItJeayN_border-top-color);
  border-right: var(--mixin-Dq7AaItJeayN_border-right-width)
    var(--mixin-Dq7AaItJeayN_border-right-style)
    var(--mixin-Dq7AaItJeayN_border-right-color);
  border-bottom: var(--mixin-Dq7AaItJeayN_border-bottom-width)
    var(--mixin-Dq7AaItJeayN_border-bottom-style)
    var(--mixin-Dq7AaItJeayN_border-bottom-color);
  border-left: var(--mixin-Dq7AaItJeayN_border-left-width)
    var(--mixin-Dq7AaItJeayN_border-left-style)
    var(--mixin-Dq7AaItJeayN_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-5NiOKdOhyF-u_color);
  padding-left: var(--mixin-5NiOKdOhyF-u_padding-left);
  border-left: var(--mixin-5NiOKdOhyF-u_border-left-width)
    var(--mixin-5NiOKdOhyF-u_border-left-style)
    var(--mixin-5NiOKdOhyF-u_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-wbNfU6Nui_VP_background);
  font-family: var(--mixin-wbNfU6Nui_VP_font-family);
  border-radius: var(--mixin-wbNfU6Nui_VP_border-top-left-radius)
    var(--mixin-wbNfU6Nui_VP_border-top-right-radius)
    var(--mixin-wbNfU6Nui_VP_border-bottom-right-radius)
    var(--mixin-wbNfU6Nui_VP_border-bottom-left-radius);
  padding: var(--mixin-wbNfU6Nui_VP_padding-top)
    var(--mixin-wbNfU6Nui_VP_padding-right)
    var(--mixin-wbNfU6Nui_VP_padding-bottom)
    var(--mixin-wbNfU6Nui_VP_padding-left);
  border-top: var(--mixin-wbNfU6Nui_VP_border-top-width)
    var(--mixin-wbNfU6Nui_VP_border-top-style)
    var(--mixin-wbNfU6Nui_VP_border-top-color);
  border-right: var(--mixin-wbNfU6Nui_VP_border-right-width)
    var(--mixin-wbNfU6Nui_VP_border-right-style)
    var(--mixin-wbNfU6Nui_VP_border-right-color);
  border-bottom: var(--mixin-wbNfU6Nui_VP_border-bottom-width)
    var(--mixin-wbNfU6Nui_VP_border-bottom-style)
    var(--mixin-wbNfU6Nui_VP_border-bottom-color);
  border-left: var(--mixin-wbNfU6Nui_VP_border-left-width)
    var(--mixin-wbNfU6Nui_VP_border-left-style)
    var(--mixin-wbNfU6Nui_VP_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-XlkQRQz97MP5z_display);
  flex-direction: var(--mixin-XlkQRQz97MP5z_flex-direction);
  align-items: var(--mixin-XlkQRQz97MP5z_align-items);
  justify-content: var(--mixin-XlkQRQz97MP5z_justify-content);
  list-style-position: var(--mixin-XlkQRQz97MP5z_list-style-position);
  padding-left: var(--mixin-XlkQRQz97MP5z_padding-left);
  position: var(--mixin-XlkQRQz97MP5z_position);
  list-style-type: var(--mixin-XlkQRQz97MP5z_list-style-type);
  flex-column-gap: var(--mixin-XlkQRQz97MP5z_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-QLF_q82PlX6Ut_display);
  flex-direction: var(--mixin-QLF_q82PlX6Ut_flex-direction);
  align-items: var(--mixin-QLF_q82PlX6Ut_align-items);
  justify-content: var(--mixin-QLF_q82PlX6Ut_justify-content);
  list-style-position: var(--mixin-QLF_q82PlX6Ut_list-style-position);
  padding-left: var(--mixin-QLF_q82PlX6Ut_padding-left);
  position: var(--mixin-QLF_q82PlX6Ut_position);
  list-style-type: var(--mixin-QLF_q82PlX6Ut_list-style-type);
  flex-column-gap: var(--mixin-QLF_q82PlX6Ut_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-e5fJVEcjgIiLz_font-family);
  color: var(--mixin-e5fJVEcjgIiLz_color);
  font-size: var(--mixin-e5fJVEcjgIiLz_font-size);
  font-weight: var(--mixin-e5fJVEcjgIiLz_font-weight);
  letter-spacing: var(--mixin-e5fJVEcjgIiLz_letter-spacing);
  line-height: var(--mixin-e5fJVEcjgIiLz_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-JvJ0IXbkXxeOv_font-family);
  color: var(--mixin-JvJ0IXbkXxeOv_color);
  font-size: var(--mixin-JvJ0IXbkXxeOv_font-size);
  font-weight: var(--mixin-JvJ0IXbkXxeOv_font-weight);
  line-height: var(--mixin-JvJ0IXbkXxeOv_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-erOnWOIEBoTAJ_color);
}
